* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    scroll-behavior: smooth;
}
html{
    font-family: "Varela Round", sans-serif;
}

header {
    background-color: #082028;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    .header-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
        height: 70px;
        margin-left: 32px;
        }
        button{
        margin-right: 32px;
        }
    }
}

main{
    width: 100%;
    background-color: #05171e;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); 
        justify-content: center;
        align-items: center;
        z-index: 1;  
    }
    #pokemon-cards{
        text-align: center;
        margin-top: 24px;
        margin-bottom: 24px;
        margin-left: 24px;
        margin-right: 24px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
        .pokemon-card{
            height: 300px;
            width: 200px;
            background-color: #0d323f;
            border-radius: 15px;
            .number-name-card{
                margin: 16px;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                
            }
            img{
                height: 150px;
            }
            .card-types-div{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 16px;
                .card-types{
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid;
                border-radius: 15px;
                width: 80px;
                height: 30px;
                }
            }
            
        }
        .pokemon-card:hover {
            cursor: pointer;
            filter: drop-shadow(0px 0px 4px #ffffff);
        }
    }
}

footer {
    width: 100%;
    height: 120px;
    background-color: #082028;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    img {
        height: 40px;
    }
    a:hover {
        cursor: pointer;
        filter: drop-shadow(0px 0px 4px #ffffff);
    }
}
.content{
    max-width: 1920px;
    width: 100%;
    height: 100%;
}
.d_none{
    display: none;
}